body {
    padding: 2rem 1.5rem;
}

select.page-size {
    width: 100px;
}

img {
    max-width: 600px;
    max-height: 600px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-snack-bar-container.error-message {
    background: red;
    color: white;
}